.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem;
  padding: 0.5rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  min-height: 15rem;
  /*flex-basis: 0;*/
}

@media (min-width: 567px) {
  .home {
    min-width: 15rem;
  }
}