.home {
  display: flex;
  position: relative;
  width: 95%;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0.5%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  min-height: 20rem;
  text-align: center;
}

@media (min-width: 992px) {
  .home {
    justify-self: center;
    min-width: 15rem;
    max-width: 20rem;
  }
}

.home .detail-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.home .detail-button button {
  width: 100%;
}
